<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Vue Shopping List</title>
        <link rel="stylesheet" href="main.css">
    </head>
    <body>
        <div id="shopping-list">
            <header>
                <h1>{{header.toLocaleUpperCase()}}</h1>
                <button v-if="state === 'default'" type="button" @click="changeState('edit')">Add Items</button>
                <button v-else type="button" @click="changeState('default')">Cancel</button>
            </header>
            <div v-if="state === 'edit'">
                <input type="text" v-model="newItem" @keyup.enter="saveItem">
                <button type="button" :disabled="!newItem.length" @click="saveItem">Add New Item</button>
            </div>
            <ul class="shopping-list__items">
                <li class="shopping-list__item" v-for="item in reversedItems" :class="{strikeout: item.purchased, 'high-priority': item.highPriority}" @click="togglePurchased(item)">
                    <span>{{item.label}}</span>
                </li>
            </ul>
            <p v-if="!items.length">Nice job you bought all your items!</p>
        </div>

        <script src="https://unpkg.com/vue"></script>
        <script>
        var shoppingList = new Vue({
            el: "#shopping-list",
            data: {
                state: 'default',
                header: "Shopping List App",
                newItem: '',
                items: [
                    {
                        label: "10 party hats",
                        purchased: false,
                        highPriority: false
                    },
                    {
                        label: "2 board games",
                        purchased: true,
                        highPriority: false
                    },
                    {
                        label: "20 cups",
                        purchased: false,
                        highPriority: true
                    }
                ],
            },
            computed: {
                reversedItems() {
                    return this.items.slice(0).reverse();
                }
            },
            methods: {
                saveItem: function() {
                    this.items.push({
                        label: this.newItem,
                        purchased: false
                    });
                    this.newItem = '';
                },
                changeState: function(newState) {
                    this.state = newState;
                    this.newItem = '';
                },
                togglePurchased: function(item) {
                    item.purchased = !item.purchased;
                }
            }
        });
        </script>
    </body>
</html>
