body {
    background-color: #f9f9f9;
    color: #121212;
    font-family: Georgia;
    font-size: 1.125rem;
    line-height: 1.4;
}

button {
    background-color: #f9f9f9;
    border: .125rem solid;
    font-size: 1.125rem;
    font-family: Georgia;
    line-height: 1.4;
    padding: .25rem .75rem;
}

input {
    border: .125rem solid currentColor;
    font-size: 1.125rem;
    font-family: Georgia;
    line-height: 1.4;
    padding: .25rem .75rem;
}

header {
    margin-bottom: 2rem;
}

.shopping-list__item span {
    display: inline-block;
    padding: .125rem .25rem;
}

.strikeout span {
    text-decoration: line-through;
}

.high-priority span {
    background-color: #fc7751;
}
